<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Hudl UI Tests" verbose="1">

    <test name="Hudl UI Tests">
        <classes>
            <class name="com.hudl.test.ui.portal.run.PortalTestRunner" />
        </classes>
    </test>
 
</suite>  	